<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>warshipweapon1</key>
		<dict>
			<key>delay</key>
			<real>0.3</real>
			<key>frames</key>
			<array>
				<string>bullet_s_0.png</string>
				<string>bullet_s_1.png</string>
			</array>
		</dict>
        
        <key>warshipmissile</key>
        <dict>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <array>
                <string>trackingmissile_0.png</string>
                <string>trackingmissile_1.png</string>
                <string>trackingmissile_2.png</string>
            </array>
        </dict>
	</dict>
	<key>frames</key>
	<dict>
		<key>btn_strengthen_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{88,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,88}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>btn_strengthen_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,2},{88,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,88}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>bullet_o_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,2},{70,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,13}}</string>
			<key>sourceSize</key>
			<string>{70,13}</string>
		</dict>
		<key>bullet_o_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,2},{70,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,13}}</string>
			<key>sourceSize</key>
			<string>{70,13}</string>
		</dict>
		<key>bullet_s_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,92},{45,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,20}}</string>
			<key>sourceSize</key>
			<string>{45,20}</string>
		</dict>
		<key>bullet_s_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,92},{45,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,20}}</string>
			<key>sourceSize</key>
			<string>{45,20}</string>
		</dict>
		<key>trackingmissile_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,92},{63,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,24}}</string>
			<key>sourceSize</key>
			<string>{63,24}</string>
		</dict>
		<key>trackingmissile_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,92},{63,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,24}}</string>
			<key>sourceSize</key>
			<string>{63,24}</string>
		</dict>
		<key>trackingmissile_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,118},{63,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,24}}</string>
			<key>sourceSize</key>
			<string>{63,24}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>bullet.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:fd3935b8982655c1e0671441c5912cbf$</string>
		<key>textureFileName</key>
		<string>bullet.png</string>
	</dict>
</dict>
</plist>
