<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
    <dict>
		<key>animation1</key>
        <dict>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <array>
                <string>player10.png</string>
                <string>player11.png</string>
                
                
            </array>
        </dict>
    </dict>

	<key>frames</key>
	<dict>
		<key>player00.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{63,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>  
			<false/>
			<key>sourceColorRect</key> 
			<string>{{0,0},{63,86}}</string>
			<key>sourceSize</key> 
			<string>{63,86}</string>
		</dict>
		<key>player00_l.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,0},{63,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,86}}</string>
			<key>sourceSize</key>
			<string>{63,86}</string>
		</dict>
		<key>player00_r.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,0},{63,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,86}}</string>
			<key>sourceSize</key>
			<string>{63,86}</string>
		</dict>
		<key>player01.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,0},{63,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,86}}</string>
			<key>sourceSize</key>
			<string>{63,86}</string>
		</dict>
		<key>player01_l.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,0},{63,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,86}}</string>
			<key>sourceSize</key>
			<string>{63,86}</string>
		</dict>
		<key>player01_r.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,0},{63,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,86}}</string>
			<key>sourceSize</key>
			<string>{63,86}</string>
		</dict>
		<key>player10.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,0},{64,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,82}}</string>
			<key>sourceSize</key>
			<string>{64,82}</string>
		</dict>
		<key>player10_l.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,0},{64,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,88}}</string>
			<key>sourceSize</key>
			<string>{64,88}</string>
		</dict>
		<key>player10_r.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,88},{64,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,88}}</string>
			<key>sourceSize</key>
			<string>{64,88}</string>
		</dict>
		<key>player11.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,88},{64,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,82}}</string>
			<key>sourceSize</key>
			<string>{64,82}</string>
		</dict>
		<key>player11_l.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,88},{64,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,88}}</string>
			<key>sourceSize</key>
			<string>{64,88}</string>
		</dict>
		<key>player11_r.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,88},{64,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,88}}</string>
			<key>sourceSize</key>
			<string>{64,88}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>player.png</string>
		<key>size</key>
		<string>{512,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:593f44b3347251f6c2663881d4863ab5$</string>
		<key>textureFileName</key>
		<string>player.png</string>
	</dict>
</dict>
</plist>
